/*INICIA CLASES EN biogafia*/

.mainbio{
    min-height: 100vh;
    background-image: url(../img/fondocuero.jpg);
    background-size: cover;
    background-position: bottom;

    &__div{
        display: flex;
        min-height: 90vh;
        flex-direction: column;
        justify-content: center;
        
    }

    &__divp{
        color: rgb(192, 187, 187);
        font-family: "Monda", sans-serif;
        text-align: center;
        font-size: 1.5rem;
        padding: 2rem;
        text-shadow: 0rem 0.2rem 0.5rem rgba(255, 0, 0, 0.466) ;
            
    }
    
}

/*FINALIZA CLASES EN biogafia*/
