.footer{
    background-color: rgb(0, 0, 0);
    height: 10rem;
    text-align: center;

    &__contenedorbotones{
        height: 50%;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    &__contenedor{
        height: 50%;   
    }

    &__anchor{
        color: rgb(192, 187, 187);
        font-family: "Monda", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        padding: 0.5rem;
    }
}
