/*INICIA CLASES EN index*/
.contenedor__index{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.section__index{
    min-height: 100vh;
    background-image: url(../img/lover_inicio.png);
    background-size: cover;
}
/*FINALIZA CLASES EN index*/