/*inicia Media Queri*/  

@media screen and (max-width: 769px){
    .section__index {
        min-height: 0vh;
    }

    .divmusicanchor__img {
        margin: 0.2rem;
    }
   
    .contenedorvideos .tam__grande {
        width: 450px;
        height: 280px;
    }

    .contenedorvideos .tam__chico {
        width: 154px;
        height: 132px;
    }
    .contenedorvideos {
        min-height: 80vh;
    }

    .contenedorgeneralmerch .imagen__merch {
            height: 375px;
            width: 515px;
        }
}

@media screen and (max-width: 426px){
    .header{
        flex-direction: column;
        justify-content: center ;
    }

    .header__nav{
        text-align: center;
    }

    .text__h1{
        text-align: center;
        padding: 2rem;
        font-size: 3rem;

    }
    .section__index {
        min-height: 100vh;
        background-image: url(../img/fondo-celu-index.jpg);
        background-position: bottom;
        background-size:contain;
    }

    .mainbio__divp {
        font-size: 1rem;
    }

    .mainbio {
        background-image: url(../img/fondo-celu-bio.jpg);
    }

    .h2textlink {
        font-size: 1.5rem;
    }

    
    .divmusicanchor__img {
        margin: 0.2rem;
    }

    .divtext_h2link {
        text-align: center;
        padding: 0rem;
        font-size: 1.5rem;
    }

    .divtext_h2link:hover{
        font-size: 1.6rem;
    }
    .mainvideo {
    min-height: 80vh;
    }

    .contenedorvideos {
        display: grid;
        min-height: 0vh;
    }
    .contenedorvideos .tam__grande {
        width: 313px;
        height: 200px;
    }

    .contenedorvideos__peque {
        display: block; 
        
    }
    .contenedorvideos .tam__chico {
        width: 154px;
        height: 132px;
    }

    .contenedorgeneralmerch .imagen__merch {
        height: 285px;
        width: 342px;
    }

    .video__link{
        box-shadow: 0rem 2rem 3.5rem rgba(255, 0, 0, 0.79) ;
    }

    .contenedorgeneralct {
        min-height: 80vh;
    }
}


/*finaliza Media Queri*/