/*INICIA CLASES EN merchoficial*/

.contenedorgeneralmerch{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .imagen__merch{
        height: 400px;
        width: 900px;   
    }
}

/*FINALIZA CLASES EN merchoficial*/