/*INICIA CLASES EN merchoficial*/

.contenedorgeneralmerch{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .contenedorgeneralmerch .imagen__merch {
        height: 800PX;
        width: 700px;
    }
}

.carruselback{
    background-color: rgba(0, 0, 0, 0.373);
}

/*FINALIZA CLASES EN merchoficial*/