/*INICIA CLASES EN musica*/

.contenedor__main{
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: center;
}

.mainmusica{
    min-height: 100vh;
    background-image: url(../img/fondomusica.png);
    background-size: cover;
}

.divmusic{
    text-align: center;
    padding-top: 3rem;

    &anchor__img{
        background-color: rgba(255, 255, 255, 0.634);
        border-radius: 50px;
        box-shadow: 0 0.3rem 0.05rem rgba(58, 54, 54, 0.644);
    
        &:hover{
            box-shadow: 0 0.1rem 0.4rem rgb(255, 0, 0);
        }
    }


}

/*FINALIZA CLASES EN musica*/