/*INICIA CLASES EN video*/

.mainvideo{
    min-height: 100vh;
    background-image: url(../img/fondofuego.jpg);
    background-size: cover;
    background-position: bottom;
    color: rgb(192, 187, 187);
    font-family: "Monda", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.contenedorvideos{
    display: flex;
    min-height: 90vh;
    gap: 1rem;
    justify-content: center;

    &__peque{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        .video__link{
            box-shadow: 0rem 2rem 4.5rem rgba(255, 0, 0, 0.79) ;
            border: 2px solid rgba(0, 0, 0, 0.729);
        }

    }
    .tam__chico{
        width: 200px;
        height: 200px;
    }
    .tam__grande{
        width: 650px;
        height: 416px;
    }

}

/*FINALIZA CLASES EN video*/
